@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020015;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #020015; /* color of the tracking area */
}

@font-face {
  font-family: "Azonix";
  src: url("../public/fonts/Azonix.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aspace";
  src: url("../public/fonts/Aspace.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spantaran";
  src: url("../public/fonts/Spantaran.ttf");
  font-weight: normal;
  font-style: normal;
}

.awesome-stuff {
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url(/images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s ease-in-out infinite backwards;
  animation-duration: 20000ms;
}

@keyframes back {
  50% {
    background-position: 2000px 0;
    transform: scale(150%);
  }

  100% {
    background-position: 0 0;
    transform: scale(100%);
  }
}

.caret-move {
  animation: move 2s ease-in-out infinite;
}
@keyframes move {
  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.blurry-circle {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.menu-nav:before {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.flurry-bg {
  transition: all ease 300ms;
}

.flurry-bg:hover {
  transition: all ease 300ms;
  background: linear-gradient(
    -45deg,
    #8152ee4a,
    #3c47e74a,
    #2382d54a,
    #23d2d54a
  );
  box-shadow: -20px 20px 50px -10px rgba(33, 70, 206, 0.47);
  filter: brightness(100%);
  background-size: 400% 400%;
  animation: gradientBG 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: movingShadows 5s ease-in-out infinite;
}

:root {
  --text-shadow-col: rgba(18, 81, 132, 0.541);
}

@keyframes movingShadows {
  0% {
    box-shadow: -20px 20px 50px 0px var(--text-shadow-col);
  }
  25% {
    box-shadow: 20px 20px 50px 0px var(--text-shadow-col);
  }
  50% {
    box-shadow: 20px -20px 50px 0px var(--text-shadow-col);
  }
  75% {
    box-shadow: -20px -20px 50px 0px var(--text-shadow-col);
  }
  100% {
    box-shadow: -20px 20px 50px 0px var(--text-shadow-col);
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
